.App {
  text-align: center;
}

.fullHeight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.welcome-title {
  color: white;
}

.hero-card-container h1 {
  text-align: left;
}

.footer p {
  color: #04040a;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

