/* FONTS */
.font-12 {
    font-size: 12px;
}
.font-bold {
    font-weight: bold;
}

.text-left {
    text-align: left !important;
}

/* MARGENES */
.margin-bottom-20 {
    margin-bottom: 20px;
}

/* RESETEOS */
.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

/* PADDINGS */
.padding-10 {
    padding: 10px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.spinner-loading {
    display: flex;
    align-items: center;
    top: 30%;
    left: 50%;
    position: absolute;
    color: #008000;
}
.spinner-loading span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}